<% let path=jsonData.pages[pageId].path %>
    <!-- header -->
    <header class="l-header">
        <ul class="l-header__list">
            <li class="l-header__item">
                <a href="/training/001.html">001</a>
            </li>
            <li class="l-header__item">
                <a href="/training/002.html">002</a>
            </li>
            <li class="l-header__item">
                <a href="/training/003.html">003</a>
            </li>
            <li class="l-header__item">
                <a href="/training/004.html">004</a>
            </li>
            <li class="l-header__item">
                <a href="/training/005.html">005</a>
            </li>
            <li class="l-header__item">
                <a href="/training/006.html">006</a>
            </li>
        </ul>

    </header>
    <!-- /header -->
