<% let path=jsonData.pages[pageId].path %>
    <!-- header -->
    <header class="l-header">
        <ul class="l-header__list">
            <li class="l-header__item">
                <a href="/training/001.html">Fade</a>
            </li>
            <li class="l-header__item">
                <a href="/training/002.html">Slide</a>
            </li>
            <li class="l-header__item">
                <a href="/training/003.html">FlipX</a>
            </li>
            <li class="l-header__item">
                <a href="/training/004.html">FlipY</a>
            </li>
            <li class="l-header__item">
                <a href="/training/005.html">SlideUp</a>
            </li>
            <li class="l-header__item">
                <a href="/training/006.html">Zoom</a>
            </li>
        </ul>

    </header>
    <!-- /header -->
