<% let path=jsonData.pages[pageId].path %>
    <!-- header -->
    <header class="l-header">
        <ul class="l-header__list">
            <li class="l-header__item">
                <a href="/">Top</a>
            </li>
            <li class="l-header__item">
                <a href="/fade.html">Fade</a>
            </li>
            <li class="l-header__item">
                <a href="/slide.html">Slide</a>
            </li>
            <li class="l-header__item">
                <a href="/flipx.html">FlipX</a>
            </li>
            <li class="l-header__item">
                <a href="/flipy.html">FlipY</a>
            </li>
            <li class="l-header__item">
                <a href="/slideup.html">SlideUp</a>
            </li>
            <li class="l-header__item">
                <a href="/zoom.html">Zoom</a>
            </li>
        </ul>

    </header>
    <!-- /header -->
